@font-face {
	font-family: 'Neue Haas Grotesk Display';
	src: url('fonts/NeueHaasDisplay-Mediu.eot');
	src: url('fonts/NeueHaasDisplay-Mediu.eot?#iefix') format('embedded-opentype'),
	url('fonts/NeueHaasDisplay-Mediu.woff') format('woff'),
	url('fonts/NeueHaasDisplay-Mediu.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Neue Haas Grotesk Display';
	src: url('fonts/NeueHaasDisplay-MediumItalic.eot');
	src: url('fonts/NeueHaasDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
	url('fonts/NeueHaasDisplay-MediumItalic.woff') format('woff'),
	url('fonts/NeueHaasDisplay-MediumItalic.ttf') format('truetype');
	font-style: italic;
}

::-moz-selection { /* Code for Firefox */
	color: #fff;
	background: blue;
}

::selection {
	color: #fff; 
	background: blue;
}

.title-top {
	/*	margin-top: 20px;*/
}

figure {
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Neue Haas Grotesk Display';
	font-weight: 600;
}

body,
button,
input,
select,
textarea {
	font-family:  'Cardo', serif;
}

html,
body {
	background-color: #fff;
}

#home {
	background: url('images/bg.jpg');
	background-size: 70vw;
	background-repeat: no-repeat;
}

@media screen and (max-width: 650px) {
	#home {
		background-size: 100vw;
	}
}

.container {
	padding: 2.5rem;
}


.title,
.heading,
.highlight,
.modal-card-title {
	font-family: 'Neue Haas Grotesk Display';
	font-weight: 600;
	/*padding-top: 20px;*/
	color: blue;

}

.item div.box {
	transition: all 0.5s ease;
}

.item div.box:hover {
	transform: scale(1.06);
	-webkit-transform: scale(1.06);
	-ms-transform: scale(1.06);
}

#app{
	margin-top: 20px;
}

.tags{
	margin-top: 20px;
}

.footer {
	background-color: #fff;
	color: #000;
	margin-top: 3rem;
	/*  padding: 2rem 1.5rem 2rem;*/

	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.footer > article {
	width: 25%;
}

.footer > article.logo-wrapper img {
	width: 100%;
	max-width: 128px;
}

.footer > article.copyright {
	font-family: 'Neue Haas Grotesk Display';
	font-size: 1.5rem;
	text-align: center;
	align-self: flex-end;

	color: blue;
}

.footer > article.links {
	text-align: right;
}

.footer > article.links a {
	display: block;
	margin-bottom: 0.75rem;
	font-size: 1.25rem;
}

@media screen and (max-width: 550px) {
	.footer {
		flex-flow: column wrap;
		margin: 0 auto;
		align-items: center;
	}

	.footer > article {
		width: 100%;
		margin-bottom: 0;
		margin-top: 2rem;
	}

	.footer > article.logo-wrapper {
		text-align: center;
	}

	.footer > article.links {
		text-align: center;
	}
}

#intro,
#work,
#resume {
	margin-top: 5rem;
}

.workex {
	margin-bottom: 1rem;
}

.education {
	margin-top: 5rem !important;
	margin-bottom: 5rem !important;
}

.post {
	font-weight: bold;
	margin-top: 2rem;
}

.dates {
	font-style: italic;
}

.contact {
	background-color: blue;
	margin-top: 3rem;
}

.contact .title a{
	color: #fff;
	text-decoration: underline;
	text-underline-position: under;
}

.contact .title a:hover{
	color: #cfcfcf;
	text-decoration: underline;
	text-decoration-color: #cfcfcf;
	text-underline-position: under;
}

#copyright { 
	margin-top: auto;
}

.workno {
	margin: auto;
}

.title.is-heading {
	font-size: 4.2rem;
}

.homeproject {
	margin-top: 3rem;
}

.about {
	color: #fff;
	height: 50vh;
}

#about {
	background: url('images/aboutbg.jpeg');
	background-size: 100vw;
	background-repeat: no-repeat;
	background-position: 0% 20%;
}

.aboutbox{
	border-radius: 0;
	box-shadow: none;
}

.blurb,
.music {
	margin-bottom: 5rem;
	margin-top: 7rem !important;
}

#workhead {
	background: url('images/work/simplex/simplex.png');
	background-size: 100vw;
	background-repeat: no-repeat;
	height: 50vh;
}

.project-top{
	margin-bottom: 10rem;
}

.project-nav,
.project-nav a,
.project-nav .title{
	color: black;
	text-decoration-color: black;
}

.has-image-centered{
	margin-left: auto;
	margin-right: auto;
}

.image.is-512x512 {
	height: 512px;
	width: 512px;
}

ol {
	font-size: 1.25rem;
	letter-spacing: 0.02rem;
}

.herotext{
	margin-top: 10rem;
	margin bottom: 10rem;
}

.carousel-cell {
  width: 100%; /* full width */
  height: 300px; /* height of carousel */
  margin-right: 10px;
}

/* no circle */
.flickity-button {
  background: transparent;
}
/* big previous & next buttons */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
}
/* icon color */
.flickity-button-icon {
  fill: white;
}
/* hide disabled button */
.flickity-button:disabled {
  display: none;
}

/* position dots up a bit */
.flickity-page-dots {
  bottom: -22px;
}
/* dots are lines */
.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}

.flickity-viewport {
	min-height: 100%;
	/* height: 800px !important; */
	height: 70vw !important;
	/* height: 100% !important; */
}